body {
    background-color: #659DBD;
    padding: 20px;
}

mat-form-field {
    width: 80%;
  }

mat-label {
    font-size: 15px;
}

h1 {
    text-align: center;
}

h1 {
    font-size: 30px;
}

.center {
    text-align: center;
}