.search {
    // min-width: 150px;
    // max-width: 500px;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    background-image: 'assets/fridge.png';
    display: inline-block;
}

.full-width{
    width: 100%;
}

.card {
    width: 28%;
    height: 400px;
    object-fit: cover;
    vertical-align: text-top;
    display: inline-block;
    padding-left: 0x 5x;
    margin: 15px;
    overflow: auto;
}

.header {
    text-align: center;
}

.cardImage {
    width: auto;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: flex; justify-content: center;
    margin: auto;
}

mat-form-field {
    width: 100%;
  }


.body {
    background-color: #FEEAE6;
}

.card {
    background-color: #fae1d9;
}