<mat-form-field class="search">
    <mat-label>Ingredients</mat-label>
    <input matInput [(ngModel)]="value">
    <button mat-button *ngIf="value" (click)="recipeByIngredients()">submit</button>
</mat-form-field>

<br><br>

<mat-card class="card" *ngFor="let recipe of data" (click)="showRecipe(recipe)">
    <mat-card-header>
        <!-- <div mat-card-avatar class="{{ recipe.title }}"></div> -->
        <mat-card-title class="header" > {{ recipe.title }}</mat-card-title>
        <!-- <mat-card-subtitle class="header">Created by: {{ exercise.license_author }}</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image class="cardImage" src="{{ recipe.image }}" alt="Photo of {{ recipe.image }}">
    <mat-card-content [style.overflow]="'hidden'">
        <p> Source: {{ recipe.sourceName }} </p>
        <p> Tags: {{ recipe.diet }} </p>
        <!-- Tags: <p style="display:inline" *ngFor="let diet of recipe.diets"> {{ diet }} </p> -->
        <p> {{ recipe.summary }} </p>
    </mat-card-content>
</mat-card>

