.card {
    width: 28%;
    height: 400px;
    object-fit: cover;
    vertical-align: text-top;
    display: inline-block;
    padding-left: 0x 5x;
    margin: 15px;
    overflow: auto;
    background-image: linear-gradient(-145deg, #f5caa2, #f5e4a2);
}

.header {
    text-align: left;
}

.cardImage {
    width: auto;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body {
    background-color: #FEEAE6;
}