<div class="full" mdbWavesEffect>
    <h3> Welcome to </h3>
    <h1> Fitness & Nutrition</h1>
    <p> Amidst the Coronavirus epidemic, this site is meant to alleviate a bit of the day to day difficulties
    regarding health and fitness. In particular, we plan around your fitness goals and work with the food already in your
    refrigerator. By catering to your needs, our goal is to make you less stressed and more organized :) </p>

    <h3> Take me to: </h3>
    <div style="text-align:center">
        <button mat-raised-button routerLink="/fitness"> Fitness </button> 
        <button mat-raised-button routerLink="./nutrition"> Nutrition </button>
    </div>
    
</div>